.product {
	padding: 10px;
	box-shadow: 1px 1px 5px #ccc;
	border-radius: 3px;
	margin-top: 10px;
}
.des {
	padding: 5px 0;
	display: -webkit-box;
	 -webkit-line-clamp: 2;
	 -webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}